body {
  margin: 0;
  padding: 0;
  background: url(assets/new_marvinmeyerrr.jpg) no-repeat center fixed;
  -webkit-background: cover;
  -moz-background: cover;
  -o-background: cover;
  background-size: cover;
}